/* global color */
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* global */
body {
    display: flex;
    background-color: var(--very-light-gray);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    font-size: 1em;
}

/* Header */
.header {
    text-align: center;
}

.header h1 {
    font-weight: 200;
    margin-bottom: 0px;
    color: var(--grayish-blue)
}

.header div {
    margin-top: 0px;
    font-weight: 600;
    color: var(--very-dark-blue);
}

.base-line {
    width: 35em;
    text-align: center;
    font-weight: 200;
    margin-top: 1em;;
    margin-bottom: 2em;
    color: var(--grayish-blue)
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card and information */
.card {
    border-radius: 5px;
    background-color: var(--very-light-gray);
    margin: 1em 1em;
    padding: 2em;
    flex: 1 1 33%;
    box-shadow: 6px 6px 9px var(--grayish-blue);
}

/* Title card */
.title {
    font-weight: 600;
    color: var(--very-dark-blue);
}

/* Detail card */
.details {
    font-weight: 200;
    padding-top: 1em;
    color: var(--grayish-blue)
}

/* All img */
img {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: 0; 
}

/* Color top border */
.blue {
    border-top: solid var(--blue);
}

.red {
    border-top: solid var(--red);
}

.cyan {
    border-top: solid var(--cyan);
}

.orange {
    border-top: solid var(--orange);
}

/* Media over 1440px */
@media only screen and (min-width: 1440px) {
    .container {
        width: 75em;
    }
}

/* Media style between 1439 to 1024px */
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
    .container {
        width: 60em;
    }
}

/* Media style under 1023 px */
@media only screen and (max-width: 1023px)  {

    .base-line {
        width: 20em;
    }

    .container {
        width: 20em;
        flex-wrap: wrap;
    }
}